/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra-ico {
    text-align: right;
    float: right;
    margin-right: 10px;
    text-decoration: none;
}

.barra-ico:hover {
    cursor: pointer;
}

.barra-nav{
    
    position: fixed;
    color: #f0f0f0;
    max-width: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    top: 0px;
    background-color: #003366;
    z-index: 999;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #333;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0px;
    
}

#botao-inverter-cores {
    position: top;
    top: 0px; /* Ajuste da distância do topo */
    right: 0px; /* Ajuste da distância da direita */
    z-index: 999; /* Garante que o botão tenha prioridade visual */
    padding: 10px 15px;
    background-color: #003366;
    color: #f0f0f0;
    border: 3px solid #003366;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 40%); /* Cria o chanfro */
    cursor: pointer;
    transition: border 0.3s ease; /* Adiciona uma transição suave */
    border: clip-path polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 40%); /* Cria o chanfro */

}


#botao-inverter-cores:hover{
    border: 3px solid #f0f0f0;
    border: clip-path polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 40%); /* Cria o chanfro */


}

.botao-nav {

    border: 3px solid #003366;
    transition: border 0.3s ease-in;
    padding: 10px 20px;
    background-color: #003366;
    color: #f0f0f0;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    text-align: left;

}

.botao-nav a {
    outline: none;

}

.botao-nav:hover {
    border: 3px solid #f0f0f0;
    color:#f0f0f0;

}

.botao-nav:hover a {
    color: #f0f0f0; /* Define a cor do texto para branco quando o cursor está sobre o botão */
}


.footer {
    margin-top: 400px;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #003366;
    color: #f0f0f0;
    padding: 20px;
    text-align: center;
}


header {
    background-color: #003366;
    color: #f0f0f0;
    margin-top: 60px;
    outline: none
}

header h1 {
    font-size: 50px;
    color: #f0f0f0;
}

header nav ul {
    list-style-type: none;
    text-decoration: none;
    padding: 15px;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #f0f0f0;
    
}

.lista {
    padding: 10px;
    margin-left: 25px;
    text-align: justify;

}

main {
    margin-left: 50px;
    margin-right: 200px;
    margin-top: 30px;
    text-align: justify;
    color:#f0f0f0;
    background-color: #333;
    padding: button;
}

.name {
    padding: 0px;
    z-index: 999;
    text-align: center;
}

nav {

    color: #f0f0f0;
    background-color: #003366;
}

h1 {
    margin-top: 7px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 40px;

}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin-left: 20px;
}

section {
    margin-bottom: 20px;
    border-right: #f0f0f0;
    border-bottom: #f0f0f0;
}

.subtitle {
    padding-bottom: 20px;
    text-align: center;
}